@font-face {
  font-family: "AstoriaDeco";
  src: url("../fonts/AstoriaDeco.eot");
  src: local("☺"), url("../fonts/AstoriaDeco.woff") format("woff"), url("../fonts/AstoriaDeco.ttf") format("truetype"),
      url("../fonts/AstoriaDeco.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Обнуление страницы */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;

}
body {
  line-height: 1;
  font-family: "PT Sans", sans-serif;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: $fontFamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;

============/* Блок контента */ =======================================================================

body {  
  font-family: "PT Sans", sans-serif;
  height: 100%;
}
.wrapper {
  background: url("../img/4897707.jpg") center / cover no-repeat fixed;
  min-height: 100%;
  overflow: hidden;
}
.btn{
  display: inline-block;
  width: 80px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  z-index: 3;
  background: #562275;
  color: #d4dbfa;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
}
/* @media (max-width: 724px) {
  .btn{
      bottom: 20px;
      right: 30px;
  }
} */
.content {
  
}
@media (min-width: 320px) {
.nav-menu {
  
}
.container {
}
.nav-menu__row {
 

}
.nav-menu__body {
  flex-direction: column;
  padding: 10px;
  line-height: 1.1;
}
.nav-menu__salon{
  display: flex;
}
.nav-menu__zaglushka {
  flex: 1 1 50%;
}
.nav-menu__title {
  flex: 1 1 50%;
  
  font-size: calc(11px + 13 * ((100vw - 320px) / (1180 - 320)));
  color:white;
  font-family: "PT Sans", sans-serif;
}
.nav-menu__title span{
  font-size: calc(11px + 13 * ((100vw - 320px) / (1180 - 320)));
  font-family: 'AstoriaDeco';
  color:white;
}
.nav-menu__main {
  font-family: 'AstoriaDeco';
  color: #64a21d;
  
  font-size: calc(40px + 15 * ((100vw - 320px) / (1180 - 320)));
  text-align: center;
}
.nav-menu__subtitle{
text-align: center;
}
.nav-menu__subtitle a{
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color:white;
  font-size: calc(18px + 13 * ((100vw - 320px) / (1180 - 320)));
}
.nav-menu__link {
  font-family: "Oswald", sans-serif;
  color: #6774b3;
  padding: 10px;
  font-size: calc(18px + 13 * ((100vw - 320px) / (1180 - 320)));
  line-height: 1.2;
  min-height: 100%;
 
}
.nav-menu__link:hover {
  color: #ef4c1e;
}

============/* Блок контента */ =========================================================================
.services {
  

}
.services__body {
  background: url("../img/bg_img/18.jpg");
  background-repeat: repeat;
  width: 100%;
  padding: 10px;
}
.services__main-title,
.services__title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color: #61A022;
  padding: 10px;
}
.services__about {
}
.services__row {
  display: flex;
  flex-wrap: wrap;
  
}
.services__block {
  
  width: 100%; 
  /* height: 100%; */
  margin: 5px 0px;
  padding: 20px;
  flex: 1 1 50%;
  align-items: stretch;
  
}
.services__image {
  margin: 0px 0px 20px 0px;
  
justify-content: center;
align-items:center;
  
}
.services__image img{
  
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  
  overflow: hidden;
  display: block;
  margin: 0 auto;
  
}


.services__title {
  
}
.services__about,
.services__subtitle,
.services__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #000;
}
.services__text {
  padding: 10px;
}

.article {
    
}

.article__body {
    background: url("../img/bg_img/91.png") repeat;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: block;
}
.article__row {
    display: flex;
    flex-direction: column;
}
/* .article__row_left {
    display: flex;
    flex-direction: column-reverse;
} */

.article__column_column1 {
    
    /* height: 590px; */
    overflow: hidden;
    position: relative;
}

.article__column_column1 img{
  
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.article__column_column2 {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 590px;
    line-height: 1;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 10px;
}

.article__title h2{
    font-size: 30px;
    font-weight: 700;
    padding: 0px 0px 20px 0px;
}
.article__text a{
  color:#000
  text-decoration: none;
  text-weight: 500;
} 
/* .services {
  display: none;
} */

}

.master_salon {
  
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}

.link {
}
._icon-scissors {
}
.cards_social {
}
._icon-instagram {
}
._icon-vk {
}
._icon-hair_dryer {
}
._icon-hair_dye {
}
._icon-nail_polish_bottle {
}
.swiper-pagination {
  margin: 20px;
  padding: 5px;
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
  /* margin: 5px;
  padding: 5px; */
  background-color: #64A21D;
  cursor: pointer;
} 



.swiper-container {
  /* width: 310px; */
  height: 568px;
  padding: 0;
}

.master_salon {
  /* max-width: 1180px; */
  margin: 0 auto;
}
.cards {
}
.cards_title {
  border: 1px solid #000;
  margin: 5px 0px 5px 0px;
}
.cards_row {
  display: flex;
  height: 100%;
  justify-content: stretch;
}
.cards_column {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px 5px;
  max-width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  
}
.cards_column:hover {
  
  box-shadow: 0 0 5px 2px rgb(139, 137, 137);
  
}
.cards_item {
  font-family: "AstoriaDeco";
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color:black;
  margin: 0px 5px;
  padding: 5px;
}
.cards_image {
  margin: 5px 0px;
}

.cards_image img {
  margin: 5px;
  border-radius: 50%;
  flex: 1 1 25%;
  width: 200px;
  max-height: 200px;
}
.card_body li {
  padding: 0px 0px 0px 5px;
  line-height: 1.2;
}
.cards_body {
  color:black;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  padding: 5px 0px 5px 0px;
  text-transform: none;
  margin: 10px;
  line-height: 1.2;
}
.cards_social {
  
  justify-content: center;
  padding: 5px 0px 10px 0px;
  
}
.cards_social a {
  display:inline-block;
  color:black;
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  line-height: 1.2;
}
=================/* Услуги */======================================================

.footer {
  /* height: 350px; */
  color: #d4dbfa;
}
.footer__text {
  height: 150px;
  color:#64a21d;
  font: size 20px;
}

.footer-block {font-family: "PT Sans", sans-serif;
  background-color: #f6c9b1;
}
.footer-block__row {
  padding: 5px;
}
.footer-block__element {
  margin: 0px 0px 0px 5px;
  padding: 5px;
}
.block__element_1 {
}
.footer-block__content {
  padding: 5px;
}
.footer-block__content p{
  margin: 5px;
  padding: 20px 5px 50px;
}

.block__element_3 {
}
.link {
  text-decoration: none;
  color:rgb(207, 17, 65);
}


.link {
}
._icon-instagram {
    font-size: 20px;
    color:#DD2A7B;
}
._icon-vk {
    font-size: 20px;
    color: #4c75a3;
}
